@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  line-height: 2;
}

body p {
  color: grey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main {
  background-image: url("/images/bg-header-desktop.png");
  background-repeat: no-repeat;
  text-align: center;
}

.main img {
  margin: 136px 0px 47px 0;
  width: 95px;
}

.button {
  font-size: 12px;
  display: flex;
  justify-content: center;
  gap: 13px;
  margin: 40px 0 130px 0;
}
.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(171, 66%, 44%);
  box-shadow: 2px 4px 20px -2px hsl(171, 66%, 44%);
  color: white;
  height: 36px;
  width: 145px;
  border-radius: 18px;
}
.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(233, 100%, 69%);
  box-shadow: 2px 4px 20px -2px hsl(233, 100%, 69%);
  color: white;
  height: 36px;
  width: 145px;
  border-radius: 18px;
}
.second {
  text-align: center;
}

.third {
  display: flex;
}

.computer-image {
  position: relative;
}

.computer-image img {
  margin: 106px 0px auto auto;
  position: relative;
  left: -50px;
  width: 600px;
}

.paragraph {
  margin: 133px 0px auto 50px;
}

.fourth {
  text-align: center;
  margin: 110px;
}

.fifth {
  display: flex;
  justify-content: center;
}

.sixth {
  text-align: center;
}

.seventh {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 65px 0px;
}

.sev-cont{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 50%;
  gap: 50px;
}

.features{
  display: grid;
  grid-template-rows: 0.5fr 0.6fr 2fr;
  justify-items: center;
  align-items: start;
}

.features h3{
  text-wrap: nowrap;
}

.features img{
  height: 35px;
}

.eighth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 115px;
}

.eighth img {
  width: 105px;
}

.nineth {
  text-align: center;
  margin: 115px 0px;
}

.button2 {
  font-size: 12px;
  display: flex;
  justify-content: center;
  gap: 13px;
  margin: 35px 0 130px 0;
}

.container1b {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(171, 66%, 44%);
  color: white;
  height: 36px;
  box-shadow: 2px 4px 20px -2px hsl(171, 66%, 44%);
  width: 145px;
  border-radius: 18px;
}

.container2b {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(233, 100%, 69%);
  box-shadow: 2px 4px 20px -2px hsl(233, 100%, 69%);
  color: white;
  height: 36px;
  width: 145px;
  border-radius: 18px;

}

footer {
  background-color: hsl(180, 10%, 88%);
}

.attribution {
  font-size: 11px;
  display: grid;
  grid-template-columns: 1.5fr 3fr 1.5fr;
  align-items: center;
  justify-items: center;
  height: 150px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.logo{
    align-items: center;
    justify-content:flex-start;
}

.logo img {
  width: 60px;
}

.info-container{
  width: 75%;
  justify-self: start;
}

.info{
display: grid;
grid-template-columns: repeat(3, 1fr); 
grid-template-rows: repeat(2, 1fr);
justify-items: start;
gap: 10px;
font-size: 1.1rem;
}

.socials {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.socials img{
  height: 30px;
}

.info div:hover p{
  color: hsl(171, 66%, 44%);
  cursor: pointer;
}
